{% extends 'base/home-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

    {% block aside_bar %}
    {% include 'aside/aside.html' %}
    {% endblock %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% block navbar %}
        <!-- Navbar -->
        {% include 'aside/navbar.html' %}
        <!-- End Navbar -->
        {% endblock %}

        <div class="container-fluid py-3 container-fluid-height">
            {% block zoom_list %}

            {% if messages %}
                <div class="alert alert-dark alert-dismissible text-white {% for message in messages %}{% if message.tags %}{{ message.tags }}{% endif %}{% endfor %}" role="alert">
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{ message.tags }}" id="{{ message.tags }}" {% endif %}>{{ message }}</span>
                    {% endfor %}
                    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-3 pt-2 pb-0">
                            <div class="text-center">
                                <h4 class="p-5">Are you sure you want to upload this video?</h4>
                                <h6 class="m-0">Zoom Video Name: <span class="font-weight-light text-color">{{ zoom_video.zoom_name }}</span></h6>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="input-group input-group-outline mb-1">
                                        {{ form.user_id|attr:"class: form-control"|attr:"readonly"|attr:"type:hidden" }}
                                        {{ form.zoom_id|attr:"class: form-control"|attr:"readonly"|attr:"type:text" }}
                                    </div>
                                    <button type="submit" class="my-3 btn bg-gradient-primary">Confirm</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class=" my-3"><a href="{% url 'main:home' request.user.id %}" class="btn bg-gradient-primary">Go Back</a></div>
            </div>

            {% endblock %}


        </div>

    </main>

{% endblock %}